body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    margin-bottom: 0;
}

.subheader, .header {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1f2937;
}

.left {
    color: #f9faf8;
}

.left > h1 {
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 0px;
}

.left > p {
    margin-top: 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 60px;
    gap: 48px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 350px;
}

img {
    width: 260px;
    margin: 60px;
}

button {
    background-color: #3882f6;
    width: 80px;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 6px;
    border: none;
}

.info {
    background-color: white;
}

.box {
    width: 100px;
    height: 80px;
    border-color: #3882f6;
    border: 2px;